<div
	class="absolute top-1/2 -translate-y-1/2 z-50 h-[300px] w-[320px] bg-white menu__container flex flex-row"
	[ngClass]="{'menu__container--open': toogleMenu}">
	<div class="w-[272px]">
		<button (click)="toggleLayer('Limite de departamentos')">Toggle Limite de departamentos</button>
		<button (click)="toggleLayer('Limite de provincias')">Toggle Limite de provincias</button>
		<button (click)="toggleLayer('Limite de distritos')">Toggle Limite de distritos</button>
		<button (click)="toggleLayer('Con Punche Perú')">Con Punche Perú</button>
		<button (click)="toggleLayer('Cobertizos')">Cobertizos</button>
		<button (click)="toggleLayer('Pastos cultivados')">Pastos cultivados</button>
	</div>
	<div class="w-[48px] flex flex-col items-start">
		<button mat-button color="primary">Primary</button>
		<button mat-raised-button class="" color="primary">Primary</button>
		<button mat-icon-button class="" color="primary" (click)="clickToogleMenu()">
			<mat-icon class="material-icons-round">chevron_right</mat-icon>
		</button>
		<button mat-icon-button class="" color="primary" (click)="clickToogleMenu()">
			<mat-icon class="material-icons-round">chevron_right</mat-icon>
		</button>
		<button mat-fab class="" color="primary">
			<mat-icon class="material-icons-round">chevron_right</mat-icon>
		</button>
	</div>
</div>
