<div
	class="absolute top-1/2 -translate-y-1/2 z-50 h-[75%] max-h-[800px] w-[320px] bg-white menu__container flex flex-row border border-solid border-gray-300 border-l-0 border-t-0"
	[ngClass]="{'menu__container--open': toogleMenu}">
	<div class="w-[272px] h-full">
		<div class="bg-primary h-[48px] w-full text-center text-white font-medium flex flex-row justify-center items-center">
			<span>
				{{ subMenu | uppercase }}
			</span>
		</div>
		<div class="overflow-y-auto overflow-x-hidden max-h-[calc(100%-48px)]">
			@if (subMenu==='capas') {
			<app-capas class="h-full"></app-capas>

			} @if (subMenu==='leyendas') {
			<app-leyenda class="h-full"></app-leyenda>

			} @if (subMenu==='filtros') {
			<app-filtro class="h-full"></app-filtro>

			}
		</div>
	</div>
	<div class="w-[48px] flex flex-col items-start border-0 border-l border-solid border-gray-300">
		<button mat-icon-button class="bg-primary text-white rounded-none rounded-tr-lg" color="primary" (click)="clickToogleMenu()">
			<mat-icon class="material-icons-round">{{ this.toogleMenu ? 'chevron_left' : 'chevron_right' }}</mat-icon>
		</button>
		<button
			mat-icon-button
			class=""
			color="accent"
			[ngClass]="{'text-white bg-accent rounded-none ': subMenu === 'capas'}"
			(click)="subMenu = 'capas'">
			<mat-icon class="material-icons-round">layers</mat-icon>
		</button>
		<button
			mat-icon-button
			class=""
			color="accent"
			[ngClass]="{'text-white bg-accent rounded-none ': subMenu === 'leyendas'}"
			(click)="subMenu = 'leyendas'">
			<mat-icon class="material-icons-round">view_list</mat-icon>
		</button>
		<button
			mat-icon-button
			class=""
			color="accent"
			[ngClass]="{'text-white bg-accent rounded-none ': subMenu === 'filtros'}"
			(click)="subMenu = 'filtros'">
			<mat-icon class="material-icons-round">filter_alt</mat-icon>
		</button>
	</div>
</div>
