<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="absolute top-16 right-0 mt-4 mr-4 flex flex-col gap-2 z-50">
	<div class="relative w-12 h-12 rounded-full bg-[#eb990f]">
		<div
			id="animated-div"
			(click)="mapaBaseView = !mapaBaseView"
			(keyup)="mapaBaseView = !mapaBaseView"
			class="btn-tool cursor-pointer flex justify-center items-center w-full h-full">
			<span></span>
		</div>
		@if (!mapaBaseView) {

		<div class="absolute flex flex-row top-0 right-16 gap-4">
			<div
				(click)="mapabase('hybrid')"
				(keyup)="mapabase('hybrid')"
				class="relative cursor-pointer flex justify-center items-center w-12 h-12 bg-black rounded-full">
				<div id="animated-div-base" class="satelite btn-tool flex justify-center items-center w-full h-full">
					<span></span>
				</div>
			</div>
			<div
				(click)="mapabase('streets-navigation-vector')"
				(keyup)="mapabase('streets-navigation-vector')"
				class="relative cursor-pointer flex justify-center items-center w-12 h-12 bg-black rounded-full">
				<div id="animated-div-base" class="osm btn-tool flex justify-center items-center w-full h-full">
					<span></span>
				</div>
			</div>
			<div
				(click)="mapabase('streets')"
				(keyup)="mapabase('streets')"
				class="relative cursor-pointer flex justify-center items-center w-12 h-12 bg-black rounded-full">
				<div id="animated-div-base" class="topo btn-tool flex justify-center items-center w-full h-full">
					<span></span>
				</div>
			</div>
		</div>
		}
	</div>

	<!-- <div *ngFor="let data of data" class="relative cursor-pointer flex justify-center items-center w-12  h-12 ">
		<div (click)="data.childrenView=!data.childrenView;data?.f()"
			class="btn-tool flex justify-center items-center w-full  h-full text-white bg-[#eb990f] hover:bg-white  hover:text-[#eb9913]  transition duration-700 ease-in-out  rounded-full"
			[ngClass]="{'btn-tool-activate' :data.childrenView  }">
			<mat-icon class="material-icons-round ">{{data.icon}}</mat-icon>
			<mat-icon *ngIf="data.descripcion !==''"
				class="z-[5] material-icons-round hover:animate-ping     bottom-0 left-7 absolute  w-3.5 h-3.5 hover:bg-white bg-[#eb990f]   text-white  hover:text-[#eb9913]  border-2     rounded-full flex justify-center items-center"
				#tooltip="matTooltip" matTooltip="{{data.descripcion}}" [matTooltipPosition]="'above'">info</mat-icon>
		</div>
		<div *ngIf="data.childrenView" class="absolute flex flex-row top-0 right-16 gap-4 ">
			<div *ngFor="let children of data.children" (click)="children?.f()"
				class="relative cursor-pointer flex justify-center items-center w-12  h-12 ">
				<div
					class="btn-tool flex justify-center items-center w-full  h-full text-[#eb9913]  bg-white hover:bg-[#eb9913]   hover:text-white  transition duration-700 ease-in-out  rounded-full"
					[ngClass]="{'btn-tool-activate' :data.childrenView  }">
					<mat-icon class="material-icons-round ">{{children.icon}}</mat-icon>
					<mat-icon *ngIf="children.descripcion !==''"
						class="z-[5] material-icons-round hover:animate-ping     bottom-0 left-7 absolute  w-3.5 h-3.5 hover:bg-white bg-[#eb990f]   text-white  hover:text-[#eb9913]  border-2     rounded-full flex justify-center items-center"
						#tooltip="matTooltip" matTooltip="{{children.descripcion}}" [matTooltipPosition]="'above'">info</mat-icon>
				</div>
			</div>
		</div>
	</div> -->
</div>
